.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer .social-icons {
    margin-top: 10px;
  }

  .footer .social-icons a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
  }

  .footer-rights-text {
    margin-top: 20px;
  }

  .footer .social-icons a:hover {
    transform: translateY(-3px);
  }
